.wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.root {
  position: relative;
  transform: translateX(var(--translateX));
}

.box {
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  transform: translate(-50px, -50px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
}
